.resources-grid {
	display: grid;
	width: 100vw;
	grid-template-columns: auto auto auto;
	border-width: 2px;
	border-color: black;
}

.tech-image {
	padding-top: 5px;
	text-align: center;
	
}

.tech-image p {
	font-family: "Courier New", Courier, monospace;
	text-transform: capitalize;
}

.tech-image img {
	height: 20vh;
	width: 20vh;

}

.link {
	cursor: pointer;
}

.site-description {
	margin-top: 100px;
	text-align: center;
	font-size: 2em;
}

@media (max-width: 768px) {

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .tech-image img {
  	height: 15vh;
  	width: 15vh;
  }

  .resources-grid {
  	grid-template-columns: auto;
  }

	.site-description {
		margin-top: 0;
		margin: 20px;
		text-align: center;
		font-size: 1em;
	}
}


