.burger-button {
	color: black;
	display: none !important;
	/* important used on these fa icons as FA files load after css  */
}

.burger-menu {
	

}

@media (max-width: 768px) {

	.burger-button {
		margin-top: 50%;
		margin-right: 10px;
		display: flex !important;

	}

	#burger {
		width: 40px;
	}

}
