#hiscores-page {
	width: 100%;
	padding-top: 50px;
}

.hiscores-table {
	padding-top: 20px;
	margin-left: 15vw;
	width: 75vw;
	display: grid;
	grid-template-columns:  auto auto auto auto;
	grid-row-gap: 10px;
}

.capitalize {
	text-transform: capitalize;
}

#hiscores-title {
	font-size: 3vh;
	padding-bottom: 20px;
}

.hiscores-intro {
	margin-left: 40vw;
	display: table;	
}

.hiscores-intro * {
	padding-right: 10px;
	display: table-cell;	
}

.username-form {
	margin-top: 6px;
}

#username-input {
	color: solid black;
}

#username-button {
	color: black;
	
	padding-right: 10px;
	
}

.skill-info {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#loading {
    background: url('/spinner.gif') no-repeat center center;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.dim-wrapper {
opacity: 0.2;
}

.stat-icon {
	width: 2vw;
}

@media (max-width: 1000px) {
	.hiscores-intro {
		display: grid;
	
	}	
	.hiscores-intro * {
		display: flex;
	}

	.stat-icon {
	width: 5vw;
	}
}