#home-page {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

.grid-container {
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	grid-gap: 40px;
}

.grid-item {
	padding: 20px;
	text-align: center;
	width: 20vw;
}

.grid-item img {
	width: 100%;
	height: 100%;
}

.grid-item img:hover {
	opacity: 0.5;
}


.grid-item p {
	font: 24px Verdana, mono-space;
}

#showcase {
	text-align: center;
	color: black;
}

#showcase h1 {
	font-size: 60px;
	
}

#showcase h6 {
	font-size: 20px;
}

@media (max-width: 768px) {

	#home-page {
		padding-top: 10px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 20px;
	}

	.grid-item {
		padding: 20px;
		text-align: center;
		height: 20vh;
		width: 50vw;
	}

	#showcase h1 {
		font-size: 30px;
		
	}

	#showcase h6 {
		font-size: 15px;
	}


}