/* css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
	
	/* dark theme */
	/*background-color: #343A40;*/
	background-color: #E2DBC8 !important;
	
}

#root {
	 width: 100vw;

     
}