.inventory-item {
	display: grid;
	grid-template-columns:  40% 30% 5%;
	align-content: center;
	grid-gap: 10px;
}

.remove-slot {
	background-color: #513535;
	border-radius: 10px;
	color: white;
}

@media(max-width: 768px) {
	.inventory-item {
		display: grid;
		grid-template-columns: 50% 40% 10%;
	}
}