#navbar {
	background-color: #C0A886;
	height: 95px;
	width: 100vw;
	border-bottom: 3px solid black;
	display: inline-grid;
	grid-template-columns: 20% 55% 20% 5%; 
	overflow: hidden;
}

.branding {
	display: inline-grid;
	width: 100%;
	grid-template-columns: auto auto;
}

#logo img {
	height: 95px;
	padding-left: 10px;
}

#title {
	margin-top: 1vw;
	font-size: 2vw;
}

.navigation {
	margin-top: 0.5vw;
	display: inline-grid;
	grid-template-columns: auto auto auto;
}

.nav-link {
	text-decoration: none;
	color: black;
	font-size: 2vw;
	padding-right: 10px;
	/*this needs position relative for underline effect to be under the test not at bottom of screen*/
	position: relative;
}

.nav-link:hover {
	color: white;
}

.nav-link::before {
	content: '';
	position: absolute;
	width: 100%;
	/* we make this element hidden/scale of 0 so the solid line that fades in does not show until hover */
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-link:hover::before {
	/* this is where the line shows on hover */
	transform: scaleX(1);
	transform-origin: bottom left;
}

@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .navigation {
  	margin-top: 1vw;
  }
}

@media (max-width: 400px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .navigation {
  	margin-top: 0;
  }
}