#navbar {
	width: 100%;
	height: 10vh;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	
	background-color: #C0A886;
	position: fixed;
	z-index: 2;

}

.details {
	display: flex;
	
}

#logo {
	height: 10vh;
	border-bottom: 2px solid black;
}

.details h1 {
	color: black;
	margin-top: 20px;
	margin-left: 20px;
}

.burger-button {
	color: black;
	display: none;
}

@media (max-width: 768px) {

	.burger-button {
		margin-top: 20px;
		margin-right: 10px;
		display: flex;
	}

	.details h1 {
		font-size: 25px;
		padding-top: 2px;
		margin-left: 10px;
	}

}


/*
#link-list {
	display: flex;
	list-style: none;
	justify-content: space-around;
}

#link-list li {
	padding: 18px 10px;
}*/