.page-title {
	margin-left: 48vw;
	padding-top: 20px;
	padding-bottom: 20px;
}

.setup-dropdowns {
	padding-top: 20px;
	margin-left: 10vw;
	margin-right: 10vw;
	display: grid;
	grid-template-columns: 10% 80%;
	grid-gap: 40px;
}

.task-form {
	/*margin-left: 25vw;*/
	/*width: 50vw;*/
	display: grid;
	grid-template-columns: 90% 10%;
	padding-bottom: 20px;
}

/*p {
	color: red;
}*/

@media (max-width: 768px) {
	.setup-dropdowns {
		padding-top: 20px;
		margin-left: 10vw;
		margin-right: 10vw;
		display: grid;
		grid-template-columns: 25% 50%;
		grid-gap: 40px;
	}
}