.setup {
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 30px;
	width: 90vw;
	margin-left: 10vw;
	
}


.equipped {
	display: grid;
	grid-template-columns: 5% 20% 75%;
	width: 100%;
}

.equipped .item-icon {
	padding-left: 20px;
}


.inventory {
	width: 80%;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

 /* The alert message box */
.alert {
	margin-left: 25vw;
  padding: 20px;
  background-color: #82201F; /* Maroon colour from logout button ingame */
  color: white;
  width: 50vw;
  border-radius: 20px;
  display: block;
}

/* The close button */
.closebtn {
  
  color: white;
  
  float: right;
  font-size: 30px;
  line-height: 50%;
  cursor: pointer;
  
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 

@media (max-width: 768px) {
	.setup {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 20px;
		padding-bottom: 30px;
		width: 90vw;
		margin-left: 10vw;
	}

	.equipped {
		display: grid;
		grid-template-columns: 10% 20% 70%;
		grid-row-gap: 10px;
		width: 100%;
	}

	#task-submit-button {
		padding-left: 20px;
	}

}