#submit-page {
	text-align: center;
}

.submit-item-grid {
	display: grid;
	grid-template-columns: auto auto;
	margin-left: 5vw;
	padding-top: 20px;
}

.equipped-submit {
	display: grid;
	grid-template-columns: 10% 90%;
	width: 30vw;
	padding-top: 10px;
}

.inventory-submit {
	padding-top: 1vh;
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
	width: 60vw;
}

.inventory-item {
	padding-right: 5px;
}

.submit-intro {
	margin-left: 20vw;
	margin-right: 20vw;
	display: grid;
	grid-template-columns: 80% 20%;
}

.title {
	padding-top: 10px;
	padding-bottom: 10px;
}

#add-slot {
	background-color: #513535;
	border-radius: 20px;
	margin-left: 10px;
	color: white;
}


#add-slot {
	background-color: #513535;
	border-radius: 20px;
	margin-left: 10px;
	color: white;
}

#submit-setup {
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	background-color: #513535;
	border-radius: 20px;
	padding: 5px;
	color: white;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.submit-item-grid {
		display: grid;
		grid-template-columns: auto;
	}

	.equipped-submit {
		width: 80vw;
		grid-template-columns: 20% 80%;
	}

	.inventory-submit {
		width: 80vw;
	}

	.submit-intro {
		margin-left: 20vw;
		margin-right: 20vw;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: auto;
	}

	#add-slot {
		padding: 10px;
	}

}