.App {
  margin-top: 5vw;
}

.boxes {
  width: 36%;
  height: 50%;
}

.hover-box {
  position: relative;
  text-align: center;
  color: red;
  float: left;
  width: 50%;
  height: 50%;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.capitalize {
  text-transform: capitalize;
}